.spa-section {
    background-color: $gray;
    padding: 55px 0px 55px 0px;
	&__container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        flex-direction: row;
    }
    &__right-col {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
    &__left-col {
        display: flex;
        flex-basis: 55%;
        flex-direction: column;
        justify-content: center;
    }
	&__heading {
        margin-bottom: 30px;
    }
	&__desc {
        margin-bottom: 60px;
        max-width: 620px;
        font-size: 22px;
    }
	&__btn {
        max-width: 323px;
        align-self: center;
    }
	&__picture {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 0px 20px 0px;
    }
    &__back {
        height: 553px;
        left: -46px;
        position: absolute;
        top: 25px;
        width: 553px;

    }
	&__front {
        position: relative;
        z-index: 2;
        height: 521px;
        width: 521px;
        mask-image: url(/images/hexagon20.svg);
        mask-repeat: no-repeat;
        mask-size: contain;
        background: rgb(228, 228, 228);
    }
    &__leaf{
        position: absolute;
        width: 492px;
        height: 492px;
        z-index: 2;
        top: -30%;
        left: -20%;

        animation: translate 7s infinite;
    }
}

@include media-breakpoint-down(xl) {
    .spa-section {
        &__right-col { 
            display: flex;
            flex-basis: 40%;
            align-items: center;
            justify-content: center;
        }
    }
    
}


@include media-breakpoint-down(lg) {
    .spa-section {
        &__container {
            gap: 1em;
        }
        &__heading {
            text-align: center;
        }
        &__desc {
            text-align: center;
            max-width: initial;
        }
        &__picture{
            width: 100%;

        }
        &__front{
            width: auto;

        }
        &__back { 
            display: none;
        }
        &__left-col {
            margin-bottom: 50px;
            flex-basis: 50%;
        }
        &__right-col {
            flex-basis: 40%;
        }

    }
    
}

@include media-breakpoint-down(md) {
    .spa-section {
        &__container {
            flex-direction: column;
        }
        &__heading {
            text-align: center;
        }
        &__desc {
            text-align: center;
            max-width: initial;
        }
        &__picture{
            width: 100%;
        }
        &__back { 
            display: none;
        }
        &__left-col {
            margin-bottom: 50px;
        }

    }
    
}

