.testimonials-section {
    padding: 60px 0px 60px 0px;
	&__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
	&__heading {
        margin-bottom: 60px;
    }
    &_gray{
        background-color: $gray;
    }
}

.testimonials-slider {
    width: 100%;
    padding: 0px 70px;
    &__wrapper {
        display: flex;
    }
	&__slide {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 1em;
    }
	&__photo {
        overflow: hidden;
        border-radius: 100%;
        background-color: $accent;
        height: 110px;
        width: 110px;
        margin-bottom: 16px;
    }
	&__name { 
        font-weight: 200;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        margin-bottom: 32px;
    }
    &__comment {
        font-family: $userfont;
        font-weight: 200;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        max-height: 225px;
        overflow-y: auto;
        padding: 2px;
        &::-webkit-scrollbar {
            width: 6px;
            background-color: #F5F5F5;
        }
    }
	&__prev {
        position: absolute;
        z-index: 2;
        left: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__next {
        position: absolute;
        z-index: 2;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
    
}

@include media-breakpoint-down(md) {
    .testimonials-slider {
        padding: 0 35px;
        &__prev {
            border-radius: 10px;
            background-color: white;
            padding: 5px;
        }
        &__next {
            border-radius: 10px;
            background-color: white;
            padding: 5px;
        }
    }
    
}
