<!--#set var="title" value="Учебный центр Виэль в Краснодаре" -->
<!--#include virtual="/parts/header.html" -->
<div id="application">
<header>
    <div class="container">
        <div class="site-header">
            <div class="logo">
                <a href="#" class="logo__image">
                    <img src="images/logo.png" alt="logo">
                </a>
                <div class="logo__label">
                    <span class="logo__desc">
                        Учебный центр</span>
                    <span class="logo__org">ВИЭЛЬ</span>
                </div>
            </div>
            <nav class="header-navigation"> 
                <ul class="header-menu">
                    <li class="header-menu__item">
                        <a class="header-menu__link" href="#beginner">Новичкам</a>
                    </li>
                    <li class="header-menu__item">
                        <a class="header-menu__link" href="#prof">Профессионалам</a>
                    </li>
                    <li class="header-menu__item">
                        <a class="header-menu__link" href="#teachers">Преподаватели</a>
                    </li>
                    <li class="header-menu__item">
                        <a class="header-menu__link" href="#gallery">Фотогаллерея</a>
                    </li>
                    <li class="header-menu__item">
                        <a class="header-menu__link" href="https://massageufo.ru" target="_blank">Конференция 2025</a>
                    </li>
                </ul>
                <a class="header-navigation__menu-toggle" href="#">
                </a>
            </nav>
            <div class="header-actions">
                <a href="tel:+79528452552" class="header-actions__phone">+7 (952) 84-52-552</a>
                <a href="#callback" @click="openPopup('callback')" class="popup_btn header-actions__btn btn btn_success btn_small">
                    Обратный звонок
                </a>
            </div>
     </div>
    </div>
</header>

<main>
    <section class="edu-section edu-section_gradient" id="edu">
        <div class="container edu-section__container">
            <div class="edu-section__massager">
                <img src="images/edu-main-illustration.png" alt="Авторские курсы">
            </div>
            <div class="edu-section__sertificat">
                <img src="images/edu-main-cert.png" alt="Авторские курсы">
            </div>
            <h2 class="edu-section__subtitle heading heading_small">Авторские курсы Виолетты Бычик</h2>
            <h1 class="edu-section__title heading heading_large "> Массажные техники для 
                новичков и профессионалов </h1>
            <h3 class="edu-section__about heading heading_small text-center"> Сертификат государственного<br> образца </h3>

            <div class="edu-section__actions">
                <a href="#get-price" @click="openPopup('getprice')" class="popup_btn edu-section__btn btn btn_warning btn_medium">
                    Получить прайс на очное обучение
                </a>
                <a href="https://courses.viel-center.ru" target="_blank" class="edu-section__btn btn btn_danger btn_medium">
                    🔥 Онлайн курсы 🔥
                </a>
            </div>

            <p class="edu-section__license"> Лицензия на осуществление образовательной деятельности: 
                23Л01 0004146 от 13.11.2015 </p>
        </div>
    </section>

    <section class="stat-section">
        <div class="container">
            <div class="stat-list">
                <div class="stat-card drop-shadow">
                    <div class="stat-card__num"><span class="countUp">17</span> <span class="stat-card__small-text">лет</span></div>
                    <div class="stat-card__desc">обучаем массажу</div>
                </div>
                <div class="stat-card drop-shadow">
                    <div class="stat-card__num"><span class="countUp">2883</span></div>
                    <div class="stat-card__desc">Подготовлено специалистов</div>
                </div>
                <div class="stat-card drop-shadow">
                    <div class="stat-card__num"><span class="countUp">134</span></div>
                    <div class="stat-card__desc">Массажных
                        техник</div>
                </div>
                <div class="stat-card drop-shadow">
                    <div class="stat-card__num"><span class="stat-card__small-text">от</span> <span class="countUp">6</span> <span class="stat-card__small-text">ч.</span></div>
                    <div class="stat-card__desc">Длительность курса</div>
                </div>
                <div class="stat-card drop-shadow">
                    <div class="stat-card__num">
                        <span class="stat-card__small-text">от</span> 
                        <span class="countUp">12 </span>
                        <span class="stat-card__small-text">т.р.</span>
                    </div>
                    <div class="stat-card__desc">Стоимость</div>
                </div>
            </div>
        </div>
    </section>

    <section class="booking-section">
        <div class="container booking-section__container">
            <h2 class="booking-section__heading heading heading_large text-center">
                Очные курсы  <span class="heading__success">в ближайшее время</span>
            </h2>
            <div id="schedule">
                <schedule></schedule>
            </div>
        </div>
    </section>

    <section class="beginer-section" id="beginner">
        <div class="container beginer-section__container">

            <div class="beginer-section__content">

                <div class="beginer-section__images">
                    <div class="beginer-section__licese-pic translate-y">
                        <img src="images/beginer-license.png" alt="Лицензия">
                    </div>
                    <div class="beginer-section__beginer-pic ">
                        <img src="images/beginer-illustration.png" alt="Новичкам">
                    </div>
                </div>

                
                <h2 class="beginer-section__heading heading heading_medium">
                    Для <span class="success">новичков</span>
                </h2>
                <p class="beginer-section__about">
                    Обучение по специальности “Массажист ” с получением
                    сертификата государственного образца
                </p>
                <div class="beginer-section__offer">
                    <h2 class="beginer-section__offer-heading heading heading_small heading_hexagonal">
                        Техника классического массажа
                    </h2>
                    <p class="beginer-section__offer-about">Пройдите курс и получите всю необходимую теоретическую информацию  и практические навыки для самостоятельной детельности</p>
                    <p class="thin beginer-section__offer-about"></p>
                </div>
                <div class="beginer-section__actions">
                    <a href="#get-price" @click="openPopup('getprice')" class="popup_btn beginer-section__btn btn btn_warning btn_medium">
                        Узнать стоимость offline курсов
                    </a>
                    <a href="https://courses.viel-center.ru/" target="_blank" class="beginer-section__btn btn btn_success btn_medium">
                        Онлайн обучение
                    </a>
                </div>
            </div>

        </div>
    </section>

    <section class="prof-section" id="prof">
        <div class="container prof-section__container">
            <div class="prof-section__content">
                <h2 class="prof-section__heading heading heading_medium">
                    Для <span class="success">профессионалов</span>
                </h2>
                <p class="prof-section__about">
                    Повышение квалификации, отработка навыков
                    расширение профессиональных возможностей
                </p>
                <div class="prof-section__list-columns list-columns">
                    <ul class="list-columns__column list-hexagon">
                        <li class="list-hexagon__item list-hexagon_success">Более 134 массажных техник</li>
                        <li class="list-hexagon__item list-hexagon_success">Практическая отработка навыков</li>
                    </ul>
                    <ul class="list-columns__column health-section__list">
                        <li class="list-hexagon__item list-hexagon_success">Обучение offline и online</li>
                        <li class="list-hexagon__item list-hexagon_success">Сертификат гос. Образца</li>
                    </ul>
                </div>
                <div class="prof-section__actions">
                    <a href="#get-schedule" @click="openPopup('getschedule')" class="popup_btn prof-section__btn btn btn_success btn_medium">
                        Получить расписание <span>&nbsp;курсов на 3 месяца</span>
                    </a>
                </div>

                <div class="prof-section__images">
                    <div class="prof-section__sertificat-pic">
                        <img src="images/prof-cert.png" alt="">
                    </div>
                    <div class="prof-section__prof-pic">
                        <img src="images/prof-illustration.png" alt="">
                    </div>
                </div>

            </div>


        </div>
    </section>

    <section class="tech-section">
        <div class="container tech-section__container">
            <div class="tech-section__left-col">
                <h2 class="tech-section__heading heading heading_medium">
                    Техники по  <span class="success">телу</span>
                </h2>
                <p class="tech-section__about">
                    Обучение по специальности “Массажист ” с получением
                    сертификата государственного образца
                </p>
                <div class="accordion tech-section__accordion">
                    <a class="accordion__item popup_btn" href="#get-program" @click="openPopup('getprogram', {target: 'Лечебные техники'})">
                        <div class="accordion__label">
                            Лечебные техники
                        </div>
                        <div class="accordion__icon"></div>
                    </a>
                    <a class="accordion__item popup_btn" href="#get-program" @click="openPopup('getprogram')">
                        <div class="accordion__label">
                            Детский массаж
                        </div>
                        <div class="accordion__icon"></div>
                    </a>
                    <a class="accordion__item popup_btn" href="#get-program" @click="openPopup('getprogram')">
                        <div class="accordion__label">
                            Коррекция фигуры
                        </div>
                        <div class="accordion__icon"></div>
                    </a>
                    <a class="accordion__item popup_btn" href="#get-program" @click="openPopup('getprogram')">
                        <div class="accordion__label">
                            SPA ритуалы
                        </div>
                        <div class="accordion__icon"></div>
                    </a>    
                </div>
                <div class="tech-section__actions">
                    <a href="#get-price" class="popup_btn tech-section__btn btn btn_warning btn_medium">
                        Узнать стоимость
                    </a>
                    <a href="#get-program" class="popup_btn tech-section__btn btn btn_line btn_warning btn_medium">
                        Получить программу курса
                    </a>
                </div>
            </div>
            <div class="tech-section__right-col">
                <h2 class="tech-section__heading heading heading_medium">
                    Техники по <span class="success">лицу</span>
                </h2>
                <p class="tech-section__about">
                    Обучение по специальности “Массажист” с получением
                    сертификата государственного образца
                </p>
                <div class="accordion tech-section__accordion">
                    <a class="accordion__item popup_btn" href="#get-program">
                        <div class="accordion__label">
                            Буккально-скульптурная техника
                        </div>
                        <div class="accordion__icon">
                            
                        </div>
                    </a>
                    <a class="accordion__item popup_btn" href="#get-program"  @click="openPopup('getprogram')">
                        <div class="accordion__label">
                            Лимфодренажный массаж
                        </div>
                        <div class="accordion__icon"></div>
                    </a>
                    <a class="accordion__item popup_btn" href="#get-program"  @click="openPopup('getprogram')">
                        <div class="accordion__label">
                            ПИРМ лица + гимнастика Кэрол Маджио
                        </div>
                        <div class="accordion__icon"></div>
                    </a>
                    <a class="accordion__item popup_btn" href="#get-program"  @click="openPopup('getprogram')">
                        <div class="accordion__label">
                            Скульптурирующий
                        </div>
                        <div class="accordion__icon">
                            
                        </div>
                    </a>
                    <a class="accordion__item popup_btn" href="#get-program"  @click="openPopup('getprogram')">
                        <div class="accordion__label">
                            Миофасциальный массаж
                        </div>
                        <div class="accordion__icon"></div>
                    </a>    
                </div>
                <div class="tech-section__actions">
                    <a href="#get-price" class="popup_btn tech-section__btn btn btn_warning btn_medium" @click="openPopup('getprice')">
                        Узнать стоимость
                    </a>
                    <a href="#get-program" class="popup_btn tech-section__btn btn btn_line btn_warning btn_medium" @click="openPopup('getprogram')">
                        Получить программу курса
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="teacher-section" id="teachers">
        <div class="container teacher-section__container">
            <div class="text-center teacher-section__heading">
                <h2 class="heading heading_medium heading_underline">
                    Преподаватели
                </h2>
            </div>
            <div class="teacher-section__teachers"> 
                <div class="teacher-section__teacher">
                    <div class="teacher-section__teacher-photo">
                        <img src="images/violetta-teacher.png" alt="Бычик Виолетта Вячеславовна">
                    </div>
                    <div class="teacher-section__content">
                        <div class="teacher-section__name">Бычик Виолетта Вячеславовна</div>
                        <div class="teacher-section__about">
                            <p class="teacher-section__text">Стаж работы: 29 лет  Преподавание: 17 лет </p>
                            <p class="teacher-section__text">Остеопат, мануальный терапевт, кинезиолог, детский массажист, специалист по коррекции костной системы, специалист по коррекции фигуры, SPA мастер.</p>
                            <p class="teacher-section__text">Основатель Центра остеопрактики и реабилитации "Виэль" & Учебного центра "Виэль" "Виртуоз России" V-го Чемпионата SPA массажа 2013 г. Член жюри VIII Чемпионата России по массажу "Лучший СПА мастер 2014 г." Преподаватель лечебных техник и СПА ритуалов</p>
                        </div>
                        <a href="#get-schedule" class="popup_btn teacher-section__btn btn btn_warning btn_medium"  @click="openPopup('getschedule')">
                            Получить расписание занятий
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="rating-section">
        <div class="container rating-section__container">
            <div class="text-center rating-section__heading">
                <h2 class="heading heading_medium heading_underline">
                    Топ  <span class="heading__success">10</span> массажных техник
                </h2>  
            </div>
            <div class="text-center rating-section__heading">
                <p class="rating-section__subtitle heading heading_small">
                    Cамые востребованные массажные техники среди специалистов и клиентов
                </p>  
            </div>

            <div class="rating rating-section__rating">
                <div class="rating-card">
                    <div class="rating-card__name">
                        Массаж для детей
                    </div>
                    <div class="rating-card__actions">
                        <a href="#select-edu" class="popup_btn rating-card__btn btn btn_line btn_warning btn_small" @click="openPopup('getprogram')">
                            Выбрать обучение
                        </a>
                    </div>
                </div>
                <div class="rating-card">
                    <div class="rating-card__name">
                        Лого-массаж
                    </div>
                    <div class="rating-card__actions">
                        <a href="#select-edu" class="popup_btn rating-card__btn btn  btn_line  btn_warning btn_small" @click="openPopup('getprogram')">
                            Выбрать обучение
                        </a>
                    </div>
                </div>

                <div class="rating-card">
                    <div class="rating-card__name">
                        Лимфодренажный по телу и лицу
                    </div>
                    <div class="rating-card__actions">
                        <a href="#select-edu" class="popup_btn rating-card__btn btn   btn_line btn_warning btn_small" @click="openPopup('getprogram')">
                            Выбрать обучение
                        </a>
                    </div>
                </div>
                <div class="rating-card">
                    <div class="rating-card__name">
                        Тайский слим
                    </div>
                    <div class="rating-card__actions">
                        <a href="#select-edu" class="popup_btn rating-card__btn btn   btn_line btn_warning btn_small" @click="openPopup('getprogram')">
                            Выбрать обучение
                        </a>
                    </div>
                </div>
                <div class="rating-card">
                    <div class="rating-card__name">
                        Антицеллюлитный массаж
                    </div>
                    <div class="rating-card__actions">
                        <a href="#select-edu" class="popup_btn rating-card__btn btn   btn_line btn_warning btn_small" @click="openPopup('getprogram')">
                            Выбрать обучение
                        </a>
                    </div>
                </div>
                <div class="rating-card">
                    <div class="rating-card__name">
                        Буккальный массаж
                    </div>
                    <div class="rating-card__actions">
                        <a href="#select-edu" class="popup_btn rating-card__btn btn  btn_line btn_warning btn_small" @click="openPopup('getprogram')">
                            Выбрать обучение
                        </a>
                    </div>
                </div>
                <div class="rating-card">
                    <div class="rating-card__name">
                        Остеопатический антицеллюлитный
                    </div>
                    <div class="rating-card__actions">
                        <a href="#select-edu" class="popup_btn rating-card__btn btn  btn_line btn_warning btn_small" @click="openPopup('getprogram')">
                            Выбрать обучение
                        </a>
                    </div>
                </div>
                <div class="rating-card">
                    <div class="rating-card__name">
                        Холистический палсинг
                    </div>
                    <div class="rating-card__actions">
                        <a href="#select-edu" class="popup_btn rating-card__btn btn  btn_line btn_warning btn_small" @click="openPopup('getprogram')">
                            Выбрать обучение
                        </a>
                    </div>
                </div>
                <div class="rating-card">
                    <div class="rating-card__name">
                        ПИРМ лица + гимнастика Кэрол Маджио
                    </div>
                    <div class="rating-card__actions">
                        <a href="#select-edu" class="popup_btn rating-card__btn btn  btn_line btn_warning btn_small" @click="openPopup('getprogram')">
                            Выбрать обучение
                        </a>
                    </div>
                </div>
                <div class="rating-card">
                    <div class="rating-card__name">
                        Французская мануальная висцеральная техника
                    </div>
                    <div class="rating-card__actions">
                        <a href="#select-edu" class="popup_btn rating-card__btn btn   btn_line  btn_warning btn_small" @click="openPopup('getprogram')">
                            Выбрать обучение
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="cons-section">
        <div class="container cons-section__container">
            <h2 class="cons-section__heading heading heading_large ">
                НУЖНА <span class="heading__success">КОНСУЛЬТАЦИЯ?</span>
            </h2>
            <h2 class="cons-section__subtitle heading heading_small"> 
                Оставьте заявку и наш менеджер свяжется в течении 5 минут
            </h2>
            <formwrapper site="УЦ" from="Нужна консультация" method="POST" class="cons-section__form" goal="consult">
                <template #default="{ form }">
                    <div>
                        <input type="text" name="phone" required class="cons-section__input form-input form-input_success form-input_line" placeholder="+7" v-model="form.phone">
                    </div>
                    <div>
                        <input class="cons-section__input form-input form-input_success form-input_line" type="email" name="email" placeholder="Email" v-model="form.email">
                    </div>
                    <div>
                        <button type="submit" class="cons-section__btn btn btn_warning btn_medium" data-popup-from="Получить консультацию">
                            Получить консультацию
                        </button>
                    </div>
                    <div class="cons-section__agree">
                        <input type="checkbox" name="agree" checked required> 
                        <span>Я принимаю условия и соглашаюсь на обработку персональных данных в соответствии с <a href="privacy-edu.pdf" target="_blank">Политикой в отношении обработки персональных данных </a> в ООО «ВИЭЛЬ» </span>    
                    </div>
                </template>
            </formwrapper>
        </div>
    </section>

    <section class="video-section">
        <div class="container video-section__container">

            <div class="text-center teacher-section__heading">
                <h2 class="heading heading_medium heading_underline">
                    Видео наших занятий
                </h2>
            </div>
            
            <div class="video-section__videos">
                <div class="video-section__video">
                    <iframe width="100%" height="255" src="https://youtube.com/embed/5UqzbDl5PFg?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" loading="lazy" allowfullscreen></iframe>
                </div>
                <div class="video-section__video">
                    <iframe width="100%" height="255" src="https://youtube.com/embed/AIqbTWWEwuo?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" loading="lazy" allowfullscreen></iframe>
                </div>
                <div class="video-section__video">
                    <iframe width="100%" height="255" src="https://youtube.com/embed/9RIZLKZpUPA?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" loading="lazy" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>

    <section class="photo-section" id="gallery">
        <div class="container photo-section__container">

            <div class="text-center photo-section__heading">
                <h2 class="heading heading_medium heading_underline">
                    Фотогаллерея
                </h2>
            </div>

            <div class="photo-section__gallery">
                <div class="photo-section__image">
                    <img src="images/gallery/gallery-ph-1.jpg" alt="Фото" loading="lazy">
                </div>
                <div class="photo-section__image">
                    <img src="images/gallery/gallery-ph-2.jpg" alt="Фото" loading="lazy">
                </div>
                <div class="photo-section__image">
                    <img src="images/gallery/gallery-ph-3.jpg" alt="Фото" loading="lazy">
                </div>
                <div class="photo-section__image">
                    <img src="images/gallery/gallery-ph-4.jpg" alt="Фото" loading="lazy">
                </div>
                <div class="photo-section__image">
                    <img src="images/gallery/gallery-ph-5.jpg" alt="Фото" loading="lazy">
                </div>
                <div class="photo-section__image">
                    <img src="images/gallery/gallery-ph-6.jpg" alt="Фото" loading="lazy">
                </div>
            </div>

            <div class="photo-section__actions">
                <a href="#" style="display: none;" class="photo-section__btn btn btn_success btn_medium" data-popup-from="Получить консультацию">
                    Смотреть еще
                </a>
                <a href="#callback" @click="openPopup('callback')" class="popup_btn photo-section__btn btn btn_warning btn_medium" data-popup-from="Получить консультацию">
                    Записаться на курс
                </a>
            </div>

        </div>
    </section>

    <section class="testimonials-section">
        <div class="container testimonials-section__container">
            <h2 class="testimonials-section__heading heading heading_medium heading_underline">
                Отзывы клиентов
            </h2>
            <div class="swiper testimonials-slider">
                <div class="swiper-wrapper testimonials-slider__wrapper">
                    <div class="swiper-slide">
                        <div class="testimonials-slider__slide">
                            <div class="testimonials-slider__photo">
                                <img src="images/testimonials/tm-edu-4.jpg" alt="СМИРНОВА МАРИЯ">
                            </div>
                            <span class="testimonials-slider__name">СМИРНОВА МАРИЯ</span>
                            <p class="testimonials-slider__comment">
                                Прошла обучение детскому массажу и хочу выразить огромную благодарность Виолетте Вячеславовне!!! Очень талантливый и чуткий преподаватель, знающий и любящий свое дело, вкладывающий в него частичку своей души!!!
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonials-slider__slide">
                            <div class="testimonials-slider__photo">
                                <img src="images/testimonials/tm-edu-1.jpeg" alt="Ольга">
                            </div>
                            <span class="testimonials-slider__name">Ольга</span>
                            <p class="testimonials-slider__comment">
                                Сегодня прошла очередное обучение в моем любимом центре. Море эмоций, позитив зашкаливает.… Огромная Благодарность Виолетте за её доброе отношение ко всем людям.… Прекрасный специалист, мастер своего дела, позитивный человек и просто красивая женщина. С каждым обучением уношу прекрасное настроение.…
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonials-slider__slide">
                            <div class="testimonials-slider__photo">
                                <img src="images/testimonials/tm-edu-6.jpeg" alt="АЛЕКСЕЙ БУТРИМЕНКО">
                            </div>
                            <span class="testimonials-slider__name">АЛЕКСЕЙ БУТРИМЕНКО</span>
                            <p class="testimonials-slider__comment">
                                Второй раз прохожу обучение в центре «ВИЭЛЬ» у Бычик Виолетты Вячеславовны. Все методики «вкусные» и проводятся на высочайшем профессиональном уровне преподавания. Благодарен дружному коллективу центра за теплый прием и создание душевной атмосферы при обучении.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonials-slider__slide">
                            <div class="testimonials-slider__photo">
                                <img src="images/testimonials/tm-edu-3.jpeg" alt="СОФИЯ">
                            </div>
                            <span class="testimonials-slider__name">СОФИЯ</span>
                            <p class="testimonials-slider__comment">Всего за один день обучения в центре Виэль я получила огромную дозу знаний. Виолетта прекрасный специалист и знаток своего дела, и помимо этого очень тёплый и отзывчивый человек. Обязательно ещё не раз буду проходить обучение именно здесь.</p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonials-slider__slide">
                            <div class="testimonials-slider__photo">
                                <img src="images/testimonials/tm-edu-5.jpg" alt="ЕЛЕНА">
                            </div>
                            <span class="testimonials-slider__name">ЕЛЕНА КИСЛАЯ</span>
                            <p class="testimonials-slider__comment">
                                Прошла обучение в школе массажа "Виэль". Я очень благодарна за полученные знания и навыки. Преподаватели были очень профессиональными и внимательными к каждому ученику. Они помогли мне развить мой стиль массажа и улучшить мои навыки. Я также оценила возможность получить онлайн-обучение, которое было очень удобным и доступным.
                            </p>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testimonials-slider__slide">
                            <div class="testimonials-slider__photo">
                                <img src="images/testimonials/tm-edu-2.jpg" alt="ВЛАДИМИР">
                            </div>
                            <span class="testimonials-slider__name">ВЛАДИМИР ЕРМОЛАЕВ</span>
                            <p class="testimonials-slider__comment">
                                Я, профессиональный массажист, проходил обучение в школе массажа "Виэль". Я получил много новых знаний и навыков, которые помогли мне улучшить свою работу и увеличить количество клиентов.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="swiper-button-prev testimonials-slider__prev">
                    <img src="images/left-arrow.svg" alt="prev">
                </div>
                <div class="swiper-button-next testimonials-slider__next">
                    <img src="images/right-arrow.svg" alt="next">
                </div>
            </div>
        </div>
    </section>


    <section class="advantages-section">
        <div class="container advantages-section__container">
            <div class="text-center advantages-section__heading">
                <h2 class="heading heading_medium heading_underline">
                    Наши преимущества
                </h2>  
            </div>
            <div class="advantages-section__content">
                <ol class="advantages-list advantages-section__advantages-list">
                    <li class="advantages-list__item">
                        Вы получите ценные знания и навыки в области массажа благодаря Учебному центру “Виэль”, который является специализированной организацией, обучающей массажу с 2014 года.
                    </li>
                    <li class="advantages-list__item">
                        Вы будете обучаться у высококвалифицированных специалистов, которые постоянно проходят строгую аттестацию.
                    </li>
                    <li class="advantages-list__item">
                        Вам не придется сталкиваться с трудностями при освоении приемов массажа, поскольку практические занятия начинаются уже с первого дня обучения. Вы сможете отрабатывать домашние задания в учебном центре без дополнительной оплаты аренды массажного кабинета. Кроме того, Учебный центр “Виэль” предоставляет своим студентам возможность бесплатно использовать массажный стол в период обучения для дополнительных тренировок.
                    </li>
                    <li class="advantages-list__item">
                        Вы можете не беспокоиться о приобретении средств и материалов для обучения, поскольку масла, оборудование, наглядные пособия и методическая литература предоставляются вам Учебным центром “Виэль”. Всё это можно использовать бесплатно в течение времени занятий.
                    </li>
                    <li class="advantages-list__item">
                        Вы получите сертификат высокого уровня, который ценится профессионалами. Учебный центр Виэль не выдает документы без сдачи экзамена, если специалист недостаточно усвоил материал.
                    </li>
                    <li class="advantages-list__item">
                        Вам будет приятно учиться в Учебном Центре “Виэль”: здесь создана домашняя обстановка, проводятся бесплатные кофе-брейк и интересные мероприятия. Индивидуальный подход к каждому студенту позволяет чувствовать себя частью дружного коллектива, а поддержка слушателей после курса способствует созданию благоприятной атмосферы.
                    </li>
                </ol>
            </div>
        </div>
    </section>

    <section class="question-section">
        <div class="container question-section__container">
            <div class="question-section__left-col">
                <div class="question-section__picture">
                    <img  src="images/elvira-official.png" alt=" Эльвира Бычик, руководитель Центра “Виэль”" loading="lazy">
                </div>
            </div>
            <div class="question-section__right-col">
                <h2 class="question-section__heading heading heading_large ">
                    Остались вопросы? Проконсультируем вас!
                </h2>
                <h2 class="question-section__subtitle heading heading_small"> 
                    Эльвира Бычик, руководитель Центра “Виэль”
                </h2>
                <a href="#callback" @click="openPopup('callback')" class="popup_btn question-section__btn btn btn_light btn_large" data-popup-from="Вопрос руководителю">
                    Заказать обратный звонок
                </a>
            </div>
        </div>
    </section>
    
    <section class="contacts-section" id="contacts">
        <div class="contacts-section__map">
            <iframe src="https://yandex.ru/map-widget/v1/?lang=ru_RU&amp;scroll=true&amp;um=constructor%3A9db132641effa614181e32aeb5cb61712ab4a42f4e8cb7ef92613b2f0d403973" frameborder="0" allowfullscreen="" width="100%" height="640px" style="display: block;" loading="lazy"></iframe>        
        </div>
        <div class="container contacts-section__container">
            <div class="contacts-section__right-col">
                <div class="contacts-section__about">
                    <h2 class="contacts-section__heading heading heading_small ">
                        Учебный центр ВИЭЛЬ
                    </h2>
                    <p class="contacts-section__addr">
                        Краснодар, ул. Кожевенная, 24 <br>
                        Режим работы: 09:00–21:00
                    </p>
                    <a href="mailto:edu@viel-center.ru" class="contacts-section__email"> edu@viel-center.ru </a><br>
                    <a href="tel:+79528452552" class="contacts-section__phone" >+7 (952) 84-52-552</a>
                    <a href="#callback" @click="openPopup('callback')" class="popup_btn contacts-section__btn btn btn_success btn_medium" data-popup-from="Контакты">
                        Заказать обратный звонок
                    </a>
                </div>
            </div>
        </div>
    </section>
</main>

<footer class="footer-section">
    <div class="container footer-section__container">
        <div class="footer-section__left-col">
            <p> © ООО "ВИЭЛЬ"  ИНН 2311164816 ОГРН 1132311013328
                Лицензия на осуществление образовательной деятельности: 23Л01 0004146</p>
            <p>
                <a href="http://ucheba.viel-center.ru/old/about/deyatelnost-obrazovatelnogo-centra/osnovnye-svedeniya">
                    Сведения об образовательной организации
                </a>
                <a href="http://ucheba.viel-center.ru/old/about/deyatelnost-obrazovatelnogo-centra">
                    Деятельность образовательной организации
                </a>
            </p>
        </div>
        <div class="footer-section__right-col">
            Информация, размещенная на сайте, не является публичной офертой.
            Разработка сайта AlDem
        </div>
    </div>
</footer>

<popup ref="getprice">
    <h3 class="popup__heading heading heading_medium">Получить прайс</h3>
    <p class="popup__message">Оставьте заявку и получите полный прайс на образовательные услуги учебного центра "Виэль”</p>
    <formwrapper site="УЦ" from="Получить прайс (popup)" method="POST" class="popup__form"  goal="price">
        <template #default="{ form }">
            <div class="popup__form-row">
                <span class="popup__form-label" >Ваш телефон: *  </span>
                <input class="popup__input form-input" type="text" name="phone" v-model="form.phone" required>
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Email:</span>
                <input class="popup__input form-input" type="email" name="email" v-model="form.email">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Ваше имя:</span>
                <input class="popup__input form-input" type="text" name="name" v-model="form.name">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label">Город: *</span>
                <input class="popup__input form-input" type="text" name="city" v-model="form.city">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Сообщение:  </span>
                <textarea maxlength="499" class="popup__textarea form-textarea" name="message" v-model="form.message"></textarea>
            </div>
            <div class="popup__form-row popup__agree">
                <input  type="checkbox" name="agree" checked required> 
                <span>Я принимаю условия и соглашаюсь на обработку персональных данных в соответствии с <a href="privacy-edu.pdf" target="_blank">Политикой в отношении обработки персональных данных </a> в ООО «ВИЭЛЬ» </span>
            </div>
            <div class="popup__form-row">
                <button type="submit" class="contacts-section__btn btn btn_warning btn_medium">Получить прайс</button>
            </div>
        </template>
    </formwrapper>
</popup>

<popup ref="callback" >
    <h3 class="popup__heading heading heading_medium">Обратный звонок</h3>
    <p class="popup__message">Оставьте Ваши контакты и наш специалист  свяжется с Вами в самое ближайшее время</p>
    <formwrapper site="УЦ" from="Обратный звонок (popup)" method="POST" class="popup__form"  goal="zvonok">
        <template #default="{ form }">
            <div class="popup__form-row">
                <span class="popup__form-label" >Ваш телефон: *  </span>
                <input class="popup__input form-input" type="text" name="phone" v-model="form.phone" required>
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Email:</span>
                <input class="popup__input form-input" type="email" name="email" v-model="form.email">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Ваше имя: </span>
                <input class="popup__input form-input" type="text" name="name" v-model="form.name">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label">Город: *</span>
                <input class="popup__input form-input" type="text" name="city" v-model="form.city">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Сообщение: </span>
                <textarea maxlength="499" class="popup__textarea form-textarea" name="message"  v-model="form.message"></textarea>
            </div>
            <div class="popup__form-row popup__agree">
                <input  type="checkbox" name="agree" checked required> 
                <span>Я принимаю условия и соглашаюсь на обработку персональных данных в соответствии с <a href="privacy-edu.pdf" target="_blank">Политикой в отношении обработки персональных данных </a> в ООО «ВИЭЛЬ» </span>
            </div>
            <div class="popup__form-row">
                <button type="submit" class="contacts-section__btn btn btn_warning btn_medium">Отправить</button>
            </div>
        </template>
    </formwrapper>
</popup>

<popup ref="getprograms" >
    <h3 class="popup__heading heading heading_medium">Получить программы курсов</h3>
    <p class="popup__message">Оставьте заявку и получите программы курсов Учебного центра “Виэль”</p>
    <formwrapper site="УЦ" from="Получить программы курсов (popup)" method="POST" class="popup__form"  goal="program">
        <template #default="{ form }">
            <div class="popup__form-row">
                <span class="popup__form-label" >Ваш телефон: *  </span>
                <input class="popup__input form-input" type="text" name="phone"  v-model="form.phone" required>
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Email:</span>
                <input class="popup__input form-input" type="email" name="email"  v-model="form.email">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Ваше имя: </span>
                <input class="popup__input form-input" type="text" name="name"  v-model="form.name">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label">Город: *</span>
                <input class="popup__input form-input" type="text" name="city" v-model="form.city">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Сообщение: </span>
                <textarea maxlength="499" class="popup__textarea form-textarea" name="message" v-model="form.message"></textarea>
            </div>
            <div class="popup__form-row popup__agree">
                <input  type="checkbox" name="agree" checked required> 
                <span>Я принимаю условия и соглашаюсь на обработку персональных данных в соответствии с <a href="privacy-edu.pdf" target="_blank">Политикой в отношении обработки персональных данных </a> в ООО «ВИЭЛЬ» </span>
            </div>
            <div class="popup__form-row">
                <button type="submit" class="contacts-section__btn btn btn_warning btn_medium">Получить программы</button>
            </div>
        </template>
    </formwrapper>
</popup>

<popup ref="getschedule">
    <h3 class="popup__heading heading heading_medium">Получить расписание курсов</h3>
    <p class="popup__message">Оставьте заявку и получите актуальное расписание  курсов Учебного центра “Виэль”</p>
    <formwrapper site="УЦ" from="Получить расписание курсов (popup)" method="POST" class="popup__form"  goal="raspisanie">
        <template #default="{ form }">
            <div class="popup__form-row">
                <span class="popup__form-label" >Ваш телефон: *  </span>
                <input class="popup__input form-input" type="text" name="phone" v-model="form.phone" required>
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Email:</span>
                <input class="popup__input form-input" type="email" name="email" v-model="form.email">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Ваше имя: </span>
                <input class="popup__input form-input" type="text" name="name" v-model="form.name">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label">Город: *</span>
                <input class="popup__input form-input" type="text" name="city" v-model="form.city">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Сообщение: </span>
                <textarea maxlength="499" class="popup__textarea form-textarea" name="message" v-model="form.message"></textarea>
            </div>
            <div class="popup__form-row popup__agree">
                <input type="checkbox" name="agree" checked required> 
                <span>Я принимаю условия и соглашаюсь на обработку персональных данных в соответствии с <a href="privacy-edu.pdf" target="_blank">Политикой в отношении обработки персональных данных </a> в ООО «ВИЭЛЬ» </span>
            </div>
            <div class="popup__form-row message">
            </div>
            <div class="popup__form-row">
                <button type="submit" class="contacts-section__btn btn btn_warning btn_medium">Получить расписание</button>
            </div>
        </template>
    </formwrapper>
</popup>

<popup ref="getprogram" #default="{ target }">
    <h3 class="popup__heading heading heading_medium">Получить программу курса <span>{{target}}</span></h3>
    <formwrapper site="УЦ" from="Получить программу курса" method="POST" class="popup__form"  goal="raspisanie">
        <template #default="{ form }">
            <div class="popup__form-row">
                <span class="popup__form-label" >Ваш телефон: *  </span>
                <input class="popup__input form-input" type="text" name="phone"  v-model="form.phone" required>
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label" >Ваше имя: </span>
                <input class="popup__input form-input" type="text" name="name" v-model="form.name">
            </div>
            <div class="popup__form-row">
                <span class="popup__form-label">Город: *</span>
                <input class="popup__input form-input" type="text" name="city" v-model="form.city">
            </div>
            <div class="popup__form-row popup__agree">
                <input type="checkbox" name="agree" checked required> 
                <span>Я принимаю условия и соглашаюсь на обработку персональных данных в соответствии с <a href="privacy-edu.pdf" target="_blank">Политикой в отношении обработки персональных данных </a> в ООО «ВИЭЛЬ» </span>
            </div>
            <div class="popup__form-row message">
            </div>
            <div class="popup__form-row">
                <button type="submit" class="contacts-section__btn btn btn_warning btn_medium">Получить программу</button>
            </div>
        </template>
    </formwrapper>
</popup>

</div> 
<!-- End  Application -->


<div class="static-widgets">
    <a href="https://t.me/viel_ucheba" class="static-widgets__link" target="_blank">
            <img src="images/tg.png">
    </a>
    <a href="https://wa.me/+79528452552?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5%2C%20%D0%BC%D0%B5%D0%BD%D1%8F%20%D0%B8%D0%BD%D1%82%D0%B5%D1%80%D0%B5%D1%81%D1%83%D0%B5%D1%82" class="static-widgets__link" target="_blank" >
            <img  src="images/whatsapp-logo.png">
    </a>
    <a href="https://vk.com/courses_viel" class="static-widgets__link" target="_blank">
            <img src="images/vk.png">
    </a>
</div>

<script type="text/javascript">!function(){var t=document.createElement("script");t.type="text/javascript",t.async=!0,t.src='https://vk.com/js/api/openapi.js?169',t.onload=function(){VK.Retargeting.Init("VK-RTRG-269103-Li6Q"),VK.Retargeting.Hit()},document.head.appendChild(t)}();</script><noscript><img src="https://vk.com/rtrg?p=VK-RTRG-269103-Li6Q" style="position:fixed; left:-999px;" alt=""/></noscript>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();
    for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
    k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
 
    ym(90115197, "init", {
         clickmap:true,
         trackLinks:true,
         accurateTrackBounce:true,
         webvisor:true
    });
 </script>
 <noscript><div><img src="https://mc.yandex.ru/watch/90115197" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
 <!-- /Yandex.Metrika counter -->


<!--#include virtual="/parts/footer.html" -->